* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

nav {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 91vw;
  height: 7.5vh;
  left: 4.5vw;
  border-bottom: 1px solid white;

  a {
    color: white;
    text-decoration: none;
    width: 15%;
    font-size: calc(0.75vw + 10px);
  }
}

.home {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  background: url('./img/Background.png') 50% 50% / cover;

  .scroll {
    width: 15vw;
    height: 12.5vh;
    position: fixed;

    .scroll__description {
      text-align: center;
      color: white;
      text-transform: uppercase;
    }

    .scroll__img {
      width: 25px;
      height: 25px;
      margin-left: calc(7.5vw - 12.5px);
      margin-top: 22.5px;
      background: url('./img/doubleArrow.png') 50% 50% / contain;
    }
  }
}

.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: lightgray;

  &__img {
    display: inline-block;
    width: 40vw;
    height: 50vh;
    background: url('./img/JasonWood.png') no-repeat 50% 50% / contain;
  }

  &-info {
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    &__title {
      font-size: calc(1.25vw + 20px);
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &__description {
      width: 30vw;
      height: 25vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      font-size: calc(0.7vw + 7.5px);
      line-height: 1.6;
    }
    
    &__name {
      font-size: calc(1vw + 10px);
      font-weight: 500;
    }
  }
}


@media screen and (max-width: 1920px) and (min-width: 1200px) {

}

@media screen and (max-width: 1200px) and (min-width: 550px) {

}

@media screen and (max-width: 550px) and (min-width: 300px) {

}